<div class="card">
  <div class="card-header">Basket</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">product.title <span class="label label-primary pull-right">product.price</span></li>
  </ul>
</div>

<br />

<div class="card">
  <div class="card-header">Basket</div>
  <div class="card-body">
    <form>
      <div class="mb-2">
        <label class="form-label" for="name">Name</label>
        <input id="name" class="form-control" type="text" />
      </div>

      <div class="mb-2">
        <label class="form-label" for="address">Address</label>
        <textarea id="address" class="form-control"></textarea>
      </div>

      <div class="mb-2">
        <label class="form-label" for="creditCard">Credit card</label>
        <input id="creditCard" class="form-control" type="text" />
      </div>

      <div class="mt-3">
        <button class="btn btn-success">Checkout</button>
      </div>
    </form>
  </div>
</div>
