<div class="card">
  <div class="card-header">Basket</div>

  <ul class="list-group list-group-flush">
    <ng-container *ngIf="basket$ | async as basket">
      <li *ngFor="let product of basket" class="list-group-item">
        {{ product.title }}
        <span class="label label-primary pull-right">{{ product.price | currency }}</span>
      </li>

      <li *ngIf="basket.length === 0" class="list-group-item"><em>Your basket is empty.</em></li>
    </ng-container>
  </ul>
</div>

<div class="card mt-3">
  <div class="card-header">Order</div>
  <div class="card-body">
    <form #checkoutForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="mb-2">
        <label class="form-label" for="name">Name</label>
        <input
          class="form-control"
          [ngClass]="{ 'is-invalid': name.invalid && name.touched, 'is-valid': name.valid }"
          [(ngModel)]="customer.name"
          name="name"
          type="text"
          required
          #name="ngModel"
        />
        <span class="invalid-feedback" [hidden]="name.valid">Name required</span>
      </div>

      <div class="mb-2">
        <label class="form-label" for="address">Address</label>
        <input
          class="form-control"
          [ngClass]="{ 'is-invalid': address.invalid && address.touched, 'is-valid': address.valid }"
          [(ngModel)]="customer.address"
          name="address"
          type="text"
          required
          #address="ngModel"
        />
        <span class="invalid-feedback" [hidden]="address.valid">Address required</span>
      </div>

      <div class="mb-2">
        <label class="form-label" for="creditCard">Credit Card</label>
        <input
          class="form-control"
          [ngClass]="{ 'is-invalid': creditCard.invalid && creditCard.touched, 'is-valid': creditCard.valid }"
          [(ngModel)]="customer.creditCard"
          name="creditCard"
          type="text"
          required
          pattern="^[0-9]{3}-[0-9]{3}$"
          #creditCard="ngModel"
        />
        <span class="invalid-feedback" [hidden]="creditCard.valid">
          <ng-container *ngIf="creditCard.errors?.['required']">Credit Card required</ng-container>
          <ng-container *ngIf="creditCard.errors?.['pattern']">Invalid pattern. Example : 123-456</ng-container>
        </span>
      </div>

      <div class="mt-3">
        <button type="submit" class="btn btn-success" [disabled]="checkoutForm.invalid || checkoutForm.disabled">Checkout</button>
      </div>
    </form>
  </div>
</div>

<div class="my-3 alert alert-success" *ngIf="orderNumber">
  Your order is confirmed : <strong>{{ orderNumber }}</strong>.
  <br />
  <a routerLink="/">Back to home.</a>
</div>
